<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">

        <div class="item active" style="background:url(@root_path/public/images/ssp/robot.jpg) no-repeat center center;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Robotic Competition</h1>
              <p>Aunual SSP Robotic competition is opening to everyone, on June-27.</p>
              <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
            </div>
          </div>
        </div>

        <div class="item" style="background:url(@root_path/public/images/ssp/astro.jpg) no-repeat center center;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Astronaut Panel</h1>
              <p>The first ISU all-female astronaut panel will be held on July-10.</p>
              <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
            </div>
          </div>
        </div>

        <div class="item" style="background:url(@root_path/public/images/ssp/sky.jpg) no-repeat center center;">
          <div class="container">
            <div class="carousel-caption">
              <h1>Rocket Launch</h1>
              <p>We are launching some rockets on July-19, come and join us.</p>
              <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
            </div>
          </div>
        </div>

      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>