<div id="footer" class="container">
    <hr/>
    <strong>&copy; @name, @company</strong>
    <span class="pull-right"><strong>
        <a href="http://www.isunet.edu" target="_blank">ISU</a> | 
        <a href="http://www.etsmtl.ca" target="_blank">ETS</a> | 
        <a href="http://www.hec.ca/en" target="_blank">HEC</a>
    </strong></span>
</div>
