<div class="navbar-wrapper home-nav">
    <div class="container">
        <div class="navbar navbar-inverse" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@root_path">ISU SSP 2014</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@root_path">Home</a>
                </li>
                foreach $root do
                    <li>
                        <a href="@url">@title</a>
                    </li>
                endforeach
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
    </div>
</div>