if $children do
  <ul>
    foreach $children do
      <li>
        <span>
        if @thumb do <img src="@thumb" class="project-thumb" alt=""> endif
        <a href="@url">@title</a>
        </span>
      </li>
    endforeach
  </ul>
endif