.navbar-fixed-top {
    -webkit-transform: translateZ(0);   /* fix chrome slow problem */
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.page-container {
  padding-top: 90px;
}

#footer {
  margin-top: 20px;
}

h2 {font-weight: bold;}

h3, h4, h5 {font-weight: bold; margin-top: 1em;}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  font-size: 14px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  color: #eee;
  text-shadow: black 0.2em 0.2em 1em;
  font-weight: bold;

}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #FFF;
  min-width: 100%;
}

.carousel h1{font-weight: bold;}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
  /*padding-top: 130px;*/
}

/* Center align the text within the three columns below the carousel */
.marketing .col-md-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-md-4 p {
  margin-left: 10px;
  margin-right: 10px;
}
.marketing .spotlight img{ opacity:0.6;}
.marketing .spotlight:hover img{ opacity:0.9;}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


ul.left-nav {
  padding: 0;
  margin: 0;
  font-size: 85%;
}

.affix{
  position: fixed;
  top:15px;
}

ul.left-nav > li > ul{
  padding-left: 10px;
}


ul.left-nav > li,
ul.left-nav > li > ul > li {
  list-style: none;
  margin: 3px 0;
}

ul.left-nav > li {
  font-weight: bold;
  margin-bottom: 10px;
}

ul.left-nav > li > ul > li {
  font-weight: normal;
}

ul.left-nav li a {padding: 2px 6px 2px 3px;}
ul.left-nav li a.selected{
  background: #F0F0C0;
  border-left: 3px solid #aaa;
}


/* grid list in categories */
.grid-list ul {padding: 0; text-align: center;}

.grid-list > ul > li {
  list-style: none;
  display: inline-block;
  height: 60px;
  width: 40%;
  padding: 10px;
  line-height: 40px;
  background: #f3f3f3;
  vertical-align: top;
  text-align: center;
  margin:10px;
  font-size: 120%;
  font-weight: bold;
  box-shadow: inset 0 0 20px #ccc;
}

.grid-list > ul > li:hover {
  background: #f0f0c0;
  padding-left: 5px;
  border-left: 5px solid #bbb;
}

.grid-list > ul > li > span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
}

.news-list > ul > li {
  list-style: none;
  padding: 5px 15px;
  margin-bottom: 5px;
  font-size: 120%;
}

.news-list > ul > li:hover{
  padding-left: 11px;
  border-left: 4px solid #ddd;
  background: #f3f3f3;
}

.news-list > ul > li > span.date{
  color: #aaa;
  font-size: 85%;
}

.index-box {margin: 10px;}
.index-box ol{ margin: 0; padding-left:20px;}





/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 90px;
  }
}


@media (max-width: 800px){
  .affix{
    position: relative;
  }

  ul.left-nav {
    font-size: 100%;
  }

  ul.left-nav > li > ul > li {
    font-weight: bold;
    display: inline-block;
  }
}